/* Importation des polices */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background: #008CBA;
    color: white;
    text-align: center;
    padding: 40px 0;
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    cursor: zoom-in;
    transition: transform 0.3s ease-in-out;
}

.profile-pic img:hover {
    transform: scale(1.1);
}


.header-info {
    flex-grow: 1;
    text-align: center;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.contact a {
    color: white;
    text-decoration: none;
}

.skills{
    display: flex;
    justify-content: space-between;
}


.container {
    width: 1160px;
    margin: 0px auto;
    display: flex;

}

.main-content{
    width: 67%;
    padding: 20px;
}

.main-content h2 {
    color: #008CBA;
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.main-content p {
    text-align: justify;
    line-height: 1.5;
}

.main-content ul {
    list-style: none;
    padding: 0;
}

.main-content li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid transparent;
    flex-wrap: wrap;
}

.main-content li:hover {
    background: #e3e3e3;
    border-left: 4px solid #008CBA;
}

.main-content h3 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    width: 70%;
}

.profile p{
    width:100%;
    text-indent: 20px; /* Ajoute une indentation */
}

.formations  p {
    font-size: 0.9em;
    margin: 0;
    width: 70%;
    text-align: left;
}

.stages  p {
    font-size: 0.9em;
    margin: 0;
    width: 70%;
    text-align: left;
}

.experience  p {
    font-size: 0.9em;
    margin: 0;
    width: 70%;
    text-align: left;
}

.main-content time {
    color: #008CBA;
    font-size: 14px;
    text-align: right;
    width: 30%;
}

li{
    margin-top: 8px;
}


/* Sidebar */
.sidebar {
    background-color: #e3e3e3;
    width: 33%;
    color: black;
    padding: 20px;
}

.sidebar h2 {
    border-bottom: 2px solid #d0d0d0;
    padding-bottom: 5px;
    color: #008CBA;
}

.sidebar ul {
    padding: 10px;
}

.languages li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

/* Étoiles des compétences */
.sidebar .skills span {
    color: #008CBA;
    display: flex;
    gap: 12px; /* Augmente l'espace entre les étoiles */
}

.sidebar .skills-html span {
    display: flex;
}


/* Liste avec puces carrées bleues */
.square-list {
    list-style-type: square;
    margin-left: 15px;
}

.square-list li::marker {
    color: #008CBA; /* Rend les puces carrées bleues */
}

/* Footer */
footer {
    background: #008CBA;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 1160px;
    margin: 0 auto;

}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

.social-icons a i {
    transition: opacity 0.3s;
}

.social-icons a:hover i {
    opacity: 0.7;
}
